{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sunt fuga consequuntur aliquid tempora nam est. Laborum voluptatibus nobis rem!</p>
    </div>
{{ end }}